<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated query -->
      <package
            uri="http://www.query.this.is/v1.0/beta"
            class="query.QueryPackage"/>
   </extension>

</plugin>
