<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated update -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="update.presentation.UpdateModelWizardID"
            name="%_UI_UpdateModelWizard_label"
            class="update.presentation.UpdateModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/UpdateModelFile.gif">
         <description>%_UI_UpdateModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated update -->
      <editor
            id="update.presentation.UpdateEditorID"
            name="%_UI_UpdateEditor_label"
            icon="icons/full/obj16/UpdateModelFile.gif"
            extensions="update"
            class="update.presentation.UpdateEditor"
            contributorClass="update.presentation.UpdateActionBarContributor">
      </editor>
   </extension>

</plugin>
