<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated insert -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="insert.presentation.InsertModelWizardID"
            name="%_UI_InsertModelWizard_label"
            class="insert.presentation.InsertModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/InsertModelFile.gif">
         <description>%_UI_InsertModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated insert -->
      <editor
            id="insert.presentation.InsertEditorID"
            name="%_UI_InsertEditor_label"
            icon="icons/full/obj16/InsertModelFile.gif"
            extensions="insert"
            class="insert.presentation.InsertEditor"
            contributorClass="insert.presentation.InsertActionBarContributor">
      </editor>
   </extension>

</plugin>
