<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!--

-->
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="idext"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="idext"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="insert.diagram.part.InsertDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/InsertDiagramFile.gif"
         extensions="idext"
         default="true"
         class="insert.diagram.part.InsertDiagramEditor"
         matchingStrategy="insert.diagram.part.InsertMatchingStrategy"
         contributorClass="insert.diagram.part.InsertDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="insert.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/InsertDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="insert.diagram.part.InsertCreationWizard"
  	     id="insert.diagram.part.InsertCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="edu.aut.islab.insert.diagram.InitDiagram"
            nameFilter="*.imext"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="insert.diagram.part.InsertInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="edu.aut.islab.insert.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="InsertPresentation">
         <Priority name="Lowest"/>
         <ViewId id="insert.diagram.part.InsertDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.printing.render.providers.DiagramWithPrintGlobalActionHandlerProvider"
         id="InsertPresentationPrint">
         <Priority name="Lowest"/>
         <ViewId id="insert.diagram.part.InsertDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="print"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="InsertPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="insert.diagram.part.InsertDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="InsertRender">
         <Priority name="Lowest"/>
         <ViewId id="insert.diagram.part.InsertDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.markerNavigationProviders" id="markers-navigation">
      <?gmfgen generated="true"?>
      <MarkerNavigationProvider class="insert.diagram.providers.InsertMarkerNavigationProvider">
         <MarkerType name="edu.aut.islab.insert.diagram.diagnostic"/>
         <Priority name="Lowest"/>
      </MarkerNavigationProvider>
   </extension>

   <extension id="diagnostic" name="Insert Plugin problems" point="org.eclipse.core.resources.markers">
      <?gmfgen generated="true"?>
      <super type="org.eclipse.core.resources.problemmarker"/>
      <super type="org.eclipse.gmf.runtime.common.ui.services.marker"/>
      <persistent value="true"/>
   </extension>   

   <extension id="validationDecoratorProvider" name="ValidationDecorations" point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders">
      <?gmfgen generated="true"?>
      <decoratorProvider class="insert.diagram.providers.InsertValidationDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.diagram.ui.editparts.IPrimaryEditPart(org.eclipse.gmf.runtime.diagram.ui)" id="PRIMARY_VIEW"/>
         <context decoratorTargets="PRIMARY_VIEW"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="insert.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="edu.aut.islab.insert.diagram.general"
            name="%prefpage.edu.aut.islab.insert.diagram.general"
            class="insert.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="edu.aut.islab.insert.diagram.appearance"
            name="%prefpage.edu.aut.islab.insert.diagram.appearance"
            category="edu.aut.islab.insert.diagram.general"
            class="insert.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="edu.aut.islab.insert.diagram.connections"
            name="%prefpage.edu.aut.islab.insert.diagram.connections"
            category="edu.aut.islab.insert.diagram.general"
            class="insert.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="edu.aut.islab.insert.diagram.printing"
            name="%prefpage.edu.aut.islab.insert.diagram.printing"
            category="edu.aut.islab.insert.diagram.general"
            class="insert.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="edu.aut.islab.insert.diagram.rulersAndGrid"
            name="%prefpage.edu.aut.islab.insert.diagram.rulersAndGrid"
            category="edu.aut.islab.insert.diagram.general"
            class="insert.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="edu.aut.islab.insert.diagram"
            labelProvider="insert.diagram.sheet.InsertSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="edu.aut.islab.insert.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="edu.aut.islab.insert.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="insert.diagram.sheet.InsertPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="insert.diagram.navigator.InsertAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="insert.diagram.providers.InsertViewProvider">
         <Priority name="Lowest"/>
         <object id="referencing-diagrams" class="org.eclipse.gmf.runtime.notation.Diagram">
            <method name="getType()" value="imext"/>
         </object>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" containerViews="referencing-diagrams"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Insert"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2004,2002,2003,3018,3002,3003,3004,3005,3019,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="insert.diagram.providers.InsertEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Insert"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2004,2002,2003,3018,3002,3003,3004,3005,3019,3006,3007,3008,3009,3010,3011,3012,3013,3014,3015,3016,3017"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value=""/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5022,5007,5020,5021,5003,5004,5005,5006,5023,5014,5013,5008,5009,5010,5012,5011,5015,5016,5017,5018,5019"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value="7008,7002,7003,7004,7005,7006,7007"/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   
   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfInsertSurfaceEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.InsertSurfaceEditPart" id="InsertSurface_1000"/>
         <context elements="InsertSurface_1000"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfTableEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.TableEditPart" id="Table_2004"/>
         <context elements="Table_2004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfInputInstalmentEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.InputInstalmentEditPart" id="InputInstalment_2002"/>
         <context elements="InputInstalment_2002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfPrepareListEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.PrepareListEditPart" id="PrepareList_2003"/>
         <context elements="PrepareList_2003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfFieldEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.FieldEditPart" id="Field_3018"/>
         <context elements="Field_3018"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfInputStringDefEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.InputStringDefEditPart" id="InputStringDef_3002"/>
         <context elements="InputStringDef_3002"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfInputIntDefEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.InputIntDefEditPart" id="InputIntDef_3003"/>
         <context elements="InputIntDef_3003"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfInputDateDefEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.InputDateDefEditPart" id="InputDateDef_3004"/>
         <context elements="InputDateDef_3004"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfInputBitsDefEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.InputBitsDefEditPart" id="InputBitsDef_3005"/>
         <context elements="InputBitsDef_3005"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfInputFloatDefEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.InputFloatDefEditPart" id="InputFloatDef_3019"/>
         <context elements="InputFloatDef_3019"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfCallSurfaceQueryEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.CallSurfaceQueryEditPart" id="CallSurfaceQuery_3006"/>
         <context elements="CallSurfaceQuery_3006"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfCallSurfaceQuery2EditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.CallSurfaceQuery2EditPart" id="CallSurfaceQuery_3007"/>
         <context elements="CallSurfaceQuery_3007"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfField2EditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.Field2EditPart" id="Field_3008"/>
         <context elements="Field_3008"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfLiteralEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.LiteralEditPart" id="Literal_3009"/>
         <context elements="Literal_3009"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfNullLiteralEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.NullLiteralEditPart" id="NullLiteral_3010"/>
         <context elements="NullLiteral_3010"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfFunctionEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.FunctionEditPart" id="Function_3011"/>
         <context elements="Function_3011"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfInputEditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.InputEditPart" id="Input_3012"/>
         <context elements="Input_3012"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfField3EditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.Field3EditPart" id="Field_3013"/>
         <context elements="Field_3013"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfLiteral2EditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.Literal2EditPart" id="Literal_3014"/>
         <context elements="Literal_3014"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfNullLiteral2EditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.NullLiteral2EditPart" id="NullLiteral_3015"/>
         <context elements="NullLiteral_3015"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfFunction2EditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.Function2EditPart" id="Function_3016"/>
         <context elements="Function_3016"/>
      </modelingAssistantProvider>
            <modelingAssistantProvider class="insert.diagram.providers.assistants.InsertModelingAssistantProviderOfInput2EditPart">
         <Priority name="Lowest"/>
         <object class="insert.diagram.edit.parts.Input2EditPart" id="Input_3017"/>
         <context elements="Input_3017"/>
      </modelingAssistantProvider>
      
   </extension>


   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="insert.diagram.providers.InsertIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="insert.diagram.providers.InsertParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.decoratorProviders" id="decorator-provider">
      <?gmfgen generated="true"?>
      <decoratorProvider class="insert.diagram.providers.InsertShortcutsDecoratorProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Node(org.eclipse.gmf.runtime.notation)" id="generated-top-nodes">
            <method name="getType()" value="2004,2002,2003"/>
         </object>
         <context decoratorTargets="generated-top-nodes"/>
      </decoratorProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.InsertSurface_1000"
               name="%metatype.name.InsertSurface_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InsertSurface"
               edithelper="insert.diagram.edit.helpers.InsertSurfaceEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.Table_2004"
               name="%metatype.name.Table_2004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Table"
               edithelper="insert.diagram.edit.helpers.TableEditHelper">
            <param name="semanticHint" value="2004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.InputInstalment_2002"
               name="%metatype.name.InputInstalment_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputInstalment"
               edithelper="insert.diagram.edit.helpers.InputInstalmentEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.PrepareList_2003"
               name="%metatype.name.PrepareList_2003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="PrepareList"
               edithelper="insert.diagram.edit.helpers.PrepareListEditHelper">
            <param name="semanticHint" value="2003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.Field_3018"
               name="%metatype.name.Field_3018"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Field"
               edithelper="insert.diagram.edit.helpers.FieldEditHelper">
            <param name="semanticHint" value="3018"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.InputStringDef_3002"
               name="%metatype.name.InputStringDef_3002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputStringDef"
               edithelper="insert.diagram.edit.helpers.InputStringDefEditHelper">
            <param name="semanticHint" value="3002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.InputIntDef_3003"
               name="%metatype.name.InputIntDef_3003"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputIntDef"
               edithelper="insert.diagram.edit.helpers.InputIntDefEditHelper">
            <param name="semanticHint" value="3003"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.InputDateDef_3004"
               name="%metatype.name.InputDateDef_3004"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputDateDef"
               edithelper="insert.diagram.edit.helpers.InputDateDefEditHelper">
            <param name="semanticHint" value="3004"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.InputBitsDef_3005"
               name="%metatype.name.InputBitsDef_3005"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputBitsDef"
               edithelper="insert.diagram.edit.helpers.InputBitsDefEditHelper">
            <param name="semanticHint" value="3005"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.InputFloatDef_3019"
               name="%metatype.name.InputFloatDef_3019"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="InputFloatDef"
               edithelper="insert.diagram.edit.helpers.InputFloatDefEditHelper">
            <param name="semanticHint" value="3019"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.CallSurfaceQuery_3006"
               name="%metatype.name.CallSurfaceQuery_3006"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="CallSurfaceQuery"
               edithelper="insert.diagram.edit.helpers.CallSurfaceQueryEditHelper">
            <param name="semanticHint" value="3006"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <specializationType
               id="edu.aut.islab.insert.diagram.CallSurfaceQuery_3007"
               name="%metatype.name.CallSurfaceQuery_3007"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.aut.islab.insert.diagram.CallSurfaceQuery_3006"/>
            <param name="semanticHint" value="3007"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <specializationType
               id="edu.aut.islab.insert.diagram.Field_3008"
               name="%metatype.name.Field_3008"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.aut.islab.insert.diagram.Field_3018"/>
            <param name="semanticHint" value="3008"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.Literal_3009"
               name="%metatype.name.Literal_3009"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Literal"
               edithelper="insert.diagram.edit.helpers.LiteralEditHelper">
            <param name="semanticHint" value="3009"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.NullLiteral_3010"
               name="%metatype.name.NullLiteral_3010"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="NullLiteral"
               edithelper="insert.diagram.edit.helpers.NullLiteralEditHelper">
            <param name="semanticHint" value="3010"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.Function_3011"
               name="%metatype.name.Function_3011"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Function"
               edithelper="insert.diagram.edit.helpers.FunctionEditHelper">
            <param name="semanticHint" value="3011"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <metamodelType
               id="edu.aut.islab.insert.diagram.Input_3012"
               name="%metatype.name.Input_3012"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Input"
               edithelper="insert.diagram.edit.helpers.InputEditHelper">
            <param name="semanticHint" value="3012"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <specializationType
               id="edu.aut.islab.insert.diagram.Field_3013"
               name="%metatype.name.Field_3013"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.aut.islab.insert.diagram.Field_3018"/>
            <param name="semanticHint" value="3013"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <specializationType
               id="edu.aut.islab.insert.diagram.Literal_3014"
               name="%metatype.name.Literal_3014"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.aut.islab.insert.diagram.Literal_3009"/>
            <param name="semanticHint" value="3014"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <specializationType
               id="edu.aut.islab.insert.diagram.NullLiteral_3015"
               name="%metatype.name.NullLiteral_3015"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.aut.islab.insert.diagram.NullLiteral_3010"/>
            <param name="semanticHint" value="3015"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <specializationType
               id="edu.aut.islab.insert.diagram.Function_3016"
               name="%metatype.name.Function_3016"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.aut.islab.insert.diagram.Function_3011"/>
            <param name="semanticHint" value="3016"/>
         </specializationType>
      </metamodel>
      <metamodel nsURI="http://www.insert.it.is/v1.0/beta">
         <specializationType
               id="edu.aut.islab.insert.diagram.Input_3017"
               name="%metatype.name.Input_3017"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType">
            <specializes id="edu.aut.islab.insert.diagram.Input_3012"/>
            <param name="semanticHint" value="3017"/>
         </specializationType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="edu.aut.islab.insert.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="edu.aut.islab.insert.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="edu.aut.islab.insert.diagram.TypeContext">
         <elementType ref="edu.aut.islab.insert.diagram.InsertSurface_1000"/>
         <elementType ref="edu.aut.islab.insert.diagram.Table_2004"/>
         <elementType ref="edu.aut.islab.insert.diagram.InputInstalment_2002"/>
         <elementType ref="edu.aut.islab.insert.diagram.PrepareList_2003"/>
         <elementType ref="edu.aut.islab.insert.diagram.Field_3018"/>
         <elementType ref="edu.aut.islab.insert.diagram.InputStringDef_3002"/>
         <elementType ref="edu.aut.islab.insert.diagram.InputIntDef_3003"/>
         <elementType ref="edu.aut.islab.insert.diagram.InputDateDef_3004"/>
         <elementType ref="edu.aut.islab.insert.diagram.InputBitsDef_3005"/>
         <elementType ref="edu.aut.islab.insert.diagram.InputFloatDef_3019"/>
         <elementType ref="edu.aut.islab.insert.diagram.CallSurfaceQuery_3006"/>
         <elementType ref="edu.aut.islab.insert.diagram.CallSurfaceQuery_3007"/>
         <elementType ref="edu.aut.islab.insert.diagram.Field_3008"/>
         <elementType ref="edu.aut.islab.insert.diagram.Literal_3009"/>
         <elementType ref="edu.aut.islab.insert.diagram.NullLiteral_3010"/>
         <elementType ref="edu.aut.islab.insert.diagram.Function_3011"/>
         <elementType ref="edu.aut.islab.insert.diagram.Input_3012"/>
         <elementType ref="edu.aut.islab.insert.diagram.Field_3013"/>
         <elementType ref="edu.aut.islab.insert.diagram.Literal_3014"/>
         <elementType ref="edu.aut.islab.insert.diagram.NullLiteral_3015"/>
         <elementType ref="edu.aut.islab.insert.diagram.Function_3016"/>
         <elementType ref="edu.aut.islab.insert.diagram.Input_3017"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.aut.islab.insert.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="edu.aut.islab.insert.diagram"
           properties="isURIEditorInput"
           class="insert.diagram.part.InsertUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isShortcut">
      <?gmfgen generated="true"?>
       <propertyTester
           id="edu.aut.islab.insert.diagram.ShortcutPropertyTester"
           type="org.eclipse.gmf.runtime.notation.View"
           namespace="edu.aut.islab.insert.diagram"
           properties="isShortcut"
           class="insert.diagram.part.InsertShortcutPropertyTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="edu.aut.islab.insert.diagram.resourceContent"/>
			<contentExtension pattern="edu.aut.islab.insert.diagram.domainResourceContent"/>
            <contentExtension pattern="edu.aut.islab.insert.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="edu.aut.islab.insert.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="edu.aut.islab.insert.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="insert.diagram.navigator.InsertNavigatorContentProvider" 
            labelProvider="insert.diagram.navigator.InsertNavigatorLabelProvider"
            icon="icons/obj16/InsertDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="idext"/>
               </and>
               <instanceof value="insert.diagram.navigator.InsertAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.aut.islab.insert.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="insert.diagram.navigator.InsertAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.aut.islab.insert.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </possibleChildren>
         <commonSorter 
               id="edu.aut.islab.insert.diagram.navigatorSorter" 
               class="insert.diagram.navigator.InsertNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="idext"/>
                  </and>
                  <instanceof value="insert.diagram.navigator.InsertAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="edu.aut.islab.insert.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="insert.diagram.navigator.InsertDomainNavigatorContentProvider" 
            labelProvider="insert.diagram.navigator.InsertDomainNavigatorLabelProvider"
            icon="icons/obj16/InsertDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="imext"/>
               </and>
               <instanceof value="insert.diagram.navigator.InsertDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="insert.diagram.navigator.InsertDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="edu.aut.islab.insert.diagram.navigatorActionProvider"
            class="insert.diagram.navigator.InsertNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="insert.diagram.navigator.InsertAbstractNavigatorItem"/>
           	   <adapt type="org.eclipse.gmf.runtime.notation.View">
           	      <test property="edu.aut.islab.insert.diagram.isShortcut"/>
           	   </adapt>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="edu.aut.islab.insert.diagram.navigatorLinkHelper"
            class="insert.diagram.navigator.InsertNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="edu.aut.islab.insert.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="insert.diagram.navigator.InsertAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="insert.diagram.part.InsertDiagramUpdateCommand"
         description="%update.diagram.description"
         id="insert.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="insert.diagram.updateDiagram"
         contextId="insert.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="edu.aut.islab.insert.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="insert.diagram.part.InsertDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="insert.diagram.edit.parts.InsertSurfaceEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="insert.diagram.part.InsertDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="edu.aut.islab.insert.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="insert.diagram.part.InsertDiagramEditorID"
         defaultHandler="insert.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
