<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ghaemi -->
      <package
            uri="http://www.example.org/ghaemi"
            class="edu.aut.islab.ghaemi.ghaemi.GhaemiPackage"
            genModel="model/ghaemi.genmodel"/>
   </extension>

</plugin>
